@model IEnumerable<Quiz.Models.QuizModel>

@{
    ViewBag.Title = "sellerView";
}

<h2>sellerView</h2>


@using (Html.BeginForm("Save", "Home", FormMethod.Post))
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuestionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.HiddenFor(modelItem => item.QuestionId, new { @id = item.QuestionId })
                @Html.DisplayFor(modelItem => item.QuestionId)
            </td>
            <td>
                @Html.HiddenFor(modelItem => item.Question, new { @id = item.Question })
                @Html.DisplayFor(modelItem => item.Question)
            </td>
           
                <td>
                    @Html.RadioButton("Answer"+ item.QuestionId, "1", new { @id = "option1" })
                    @Html.DisplayFor(modelItem => item.Answer1)
                </td>
                <td>
                    @Html.RadioButton("Answer" + item.QuestionId, "2", new { @id = "option2"})
                    @Html.DisplayFor(modelItem => item.Answer2)
                </td>
                <td>
                    @Html.RadioButton("Answer" + item.QuestionId, "3", new { @id = "option3" })
                    @Html.DisplayFor(modelItem => item.Answer3)
                </td>
                <td>
                    @Html.RadioButton("Answer" + item.QuestionId, "4", new { @id = "option4"})
                    @Html.DisplayFor(modelItem => item.Answer4)
                </td>
                <td>
                    @Html.RadioButton("Answer" + item.QuestionId, "5", new { @id = "option5"})
                    @Html.DisplayFor(modelItem => item.Answer5)
                </td>
                <td>
                    @Html.RadioButton("Answer" + item.QuestionId, "6", new { @id = "option6"})
                    @Html.DisplayFor(modelItem => item.Answer6)
                </td>
                <td>
                    @Html.RadioButton("Answer" + item.QuestionId, "7", new { @id = "option7"})
                    @Html.DisplayFor(modelItem => item.Answer7)
                </td>
               
                <td>
                    @Html.HiddenFor(modelItem => item.Category)
                    @Html.DisplayFor(modelItem => item.Category)
                </td>

</tr>

        }

    </table>

    <input type="submit" value="Save" />
  
}

